# Base de datos MySQL
# Ejemplo: mysql://usuario:password@localhost:3306/padel_campeonatos
# PlanetScale: mysql://usuario:password@aws.connect.psdb.cloud/nombre_db?sslaccept=strict
DATABASE_URL="mysql://root:@127.0.0.1:3306/padel_campeonatos"

# JWT - genera una cadena aleatoria segura
JWT_SECRET="tu_clave_secreta_muy_larga_y_segura"
JWT_EXPIRES_IN="7d"

# Puerto del servidor
PORT=3001
